#post-news-and-press {
  background: #111 url(assets/images/bg-section7.jpg) no-repeat center center/cover;
  position: relative;

  .wrap {
    z-index: 2;
    position: relative;
  }
  &:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #222;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease;
  }
}


.saw-more #post-news-and-press:after {
  opacity: 1;
}

.post-item {
  background: rgba(255,255,255,.9);
  margin: 0 20px;
  .entry-info {
    padding: 10px 20px;
    font-size: 14px;
    a {
      color: #000;
      text-decoration: none;
    }
    .subpage-title {
      font-size: 18px;
      line-height: 1.05;
      margin-bottom: 10px;
      @media screen and (min-width: 600px) {
        font-size: 20px;
      }
    }
    .source {
      margin-top: 20px;
      margin-bottom: 0;
      a {
        color: #e84824;
      }
      strong {
        font-weight: bold;
        margin-right: 5px;
      }
    }
    @media screen and (min-width: 600px) {
        padding: 20px 30px;
        font-size: 15px;
    }
  }
}

.entry-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .post-item {
    box-shadow: 0 0 10px rgba(0,0,0,.65);
    width: calc(33.33% - 30px);
    margin: 20px 0;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      max-width: 400px;
      width: 100%;
      margin: 20px auto;
    }
    .subpage-image {
      background-size: cover;
      background-position: center;
      img {
        opacity: 0;
        width: 100%;
        display: block;
      }
    }
  }
}

.see-more {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 30px 0 0;
  .fa {
    font-size: 120px;
    line-height: 50px;
  }
  &:hover {
    opacity: .75;
  }
}
